.RevTScriptD3Container {
    display: flex;
    justify-content: center;
    padding-bottom: 8vh;
    width: 90%;
    padding-left: 5%;
  }
  
  #RevTScriptD3-svg {
    background: #fafafa;
    width: 75%;
  }
  
  .area {
    fill: steelblue;
    clip-path: url(#clip);
  }
  
  .zoom {
    cursor: move;
    fill: none;
    pointer-events: all;
  }
  
  .axis line,
  text {
    stroke: #555;
  }
  
  
  .axis path {
    stroke: #9f1829;
    stroke-width: 2px;
  }
  
  .axis--x {
    font-size: 12pt;
    font-family: "Montserrat", sans-serif;
    color: #555;
    font-weight: bold;
  }
  
  .axis--y text {
    font-size: 14pt;
    font-family: "Montserrat", sans-serif;
    color: #555;
    font-weight: bold;
    /* mix-blend-mode: darken;
    text-shadow: 0px 0px 10px  #fafafa; */
  }
  
.Ala {
  fill: #e6194B;
}
.Cys {
  fill: #911eb4;
}
.Asp {
  fill: #3cb44b;
}
.Glu {
  fill: #000075;
}
.Phe {
  fill: #ffe119;
}
.Gly {
  fill: #800000;
}
.His {
  fill: #4363d8;
}
.Ile {
  fill: #444;
}
.Lys {
  fill: #f58231;
}
.Leu {
  fill: #bfef45;
}
.Met {
  fill: #42d4f4;
}
.Asn {
  fill: #f032e6;
}
.Pro {
  fill: #469990;
}
.Gln {
  fill: #9A6324;
}
.Arg {
  fill: #e6beff;
}
.Ser {
  fill: #808000;
}
.Val {
  fill: #000000;
}
.Trp {
  fill: #41717D;
}
.Tyr {
  fill: #006838;
}
.Thr {
  fill: #662D91;
}