#DNA-vid {
  width: 100%;
}

.auth-homepage {
  transition: 1s;
}

/* .hide {
    position: relative;
    height: 0;
    overflow: hidden;
} */

.hidden-a-tag a {
    display: none;
    visibility: hidden;
}